
    <div class="container">
      <%=link_to 'Add Member ',new_member_path,class: 'btn btn-primary pull-right' %>
      <%=link_to 'Set Registration Number ',edit_registration_number_path(RegistrationNumber.first),class: 'btn btn-primary pull-right' %>
      <h3>Current Packages</h3>
      <table id="member-table" class="table table-dark table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th> Status </th>
            <th> Name  </th>
            <th> Registration Number  </th>
            <th> Phone Number  </th>
            <th> Email  </th>
            <th> Date of Birth  </th>
            <th> Date of joining  </th>
            <th> Package Renewal Date  </th>
            <th> Package Ending Date  </th>
            <th> Current Package  </th>
            <th> Actions(s) </th>

          </tr>
        </thead>
        <tbody>
          <%- @members.each do |member|%>
          <%- if member.status == "in_active" %>
            <tr style="color: red;">
              <td><%= member.status.titleize %></td>
              <td><%=link_to member.name,member %></td>
              <td><%= member.registration_number %></td>
              <td><%= member.phone %></td>
              <td><%= member.email_id %></td>
              <td><%= member.date_of_birth %></td>
              <td><%= member.date_of_joining %></td>
              <td><%= member.renewal_date %></td>
              <td><%= member.date_of_ending %></td>
              <td><%= member.package.package_type %></td>
              <td><%=link_to 'Edit',edit_member_path(member) %> | <%=link_to 'Destroy',member_path(member), data: {:confirm => 'Are you sure?'}, :method => :delete %> </td>
            </tr>
          <%- else %>
            <tr>
              <td><%= member.status %></td>
              <td><%=link_to member.name,member %></td>
              <td><%= member.registration_number %></td>
              <td><%= member.phone %></td>
              <td><%= member.email_id %></td>
              <td><%= member.date_of_birth %></td>
              <td><%= member.date_of_joining %></td>
              <td><%= member.renewal_date %></td>
              <td><%= member.date_of_ending %></td>
              <td><%= member.package.package_type %></td>
              <td><%=link_to 'Edit',edit_member_path(member) %> | <%=link_to 'Destroy',member_path(member), data: {:confirm => 'Are you sure?'}, :method => :delete %> </td>
            </tr>
          <%-end %>
          <%-end %>
        </tbody>
      </table>
      <%= javascript_include_tag 'members', 'data-turbolinks-track': 'reload' %>
    </div>

